marquee{
    font-style:italic;
  padding-top: 25px;
  font-size:30px;
}
body{
    text-align: center;
    background: #efefef;
    font-family:arial;
    background-color:rgb(222, 226, 230);
    font-style: italic ;
    font-size:medium;
   
    
    
    
}

button {
    
    background-color: #4CAF50;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:50%;
    color:black; /* Text color */
}
label{
    font-size: large;
    padding-top: 25px;
    font-variant-caps: petite-caps;
}
input{
    font-size: large;
   
    font-variant-caps: petite-caps;
}